<!-- Load Button -->
<button type="button" class="btn btn-primary load" (click)="openModal(load)">Load</button>
<ng-template #load>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Load</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Select which save you want to load:</p>
    <div class="container">
      <div class="list-group" *ngFor="let cardDecks of (cardDecks | async)">
        <p (click)="retrieveData()">{{cardDecks.key}}</p>
      </div>
    </div>
  </div>
</ng-template>
