f<button [disabled]="submitButtonDisabled" type="button" class="btn btn-primary save" (click)="openModal(save)">Save</button>
<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Your Hand</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Name for your hand:</p>
    <!-- Create a label for the input field -->
    <input #textbox type="text" [(ngModel)]="inputField"/>
    <button type="button" (click)="postData(textbox.value)">Submit</button>
  </div>
  <!-- Input for the name of hand -->
  <input>
</ng-template>
