.one {
  background-color: green;
  border-left: 3px red solid;
  border-right: 3px red solid;
}

.planner {
  background-color: green;
  border: 3px red solid;
}

.hand-declare {
  background-color: green;
  padding: 0;
  margin: 0;
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px #ff0000;
}

.cards {
  background-color: green;
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 3px red solid;
  border-radius: 7.5%;
}

.table-cards {
  background-color: green;
}

.table-cards img {
  width: 20%;
  padding: 10px;
}

.hand-cards {
  background-color: green;
}

.hand-cards img {
  width: 20%;
  padding: 10px;
}

.suits {
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
}

.suits li {
  padding: 10px;
}

.suits button {
  height: 3em;
  border-radius: 15%;
}

.suits img {
  width: 20%;
}

.values {
  background-color: red;
  padding: 10px;
  border-radius: 10%;
}

.values li {
  padding: 5px;
}

.values button {
  width: 2.75em;
  border-radius: 15%;
}

.crud-buttons {
  padding-top: 1.5em;
}

.crud-buttons li {
  padding-top: 0;
  padding-bottom: 0;
  padding: 25px;
}

.submitButton {
  border-radius: 15%;
  background-color: red;
  border: none;
}

.submitButton:hover {
  background-color: #CD0000;
}

.highlight {
  border: 5px yellow solid;
  border-radius: 7.5%;
}

/*
  .values li will be a button that have a highlight and click element
  .suits li will be a button that have a highlight and click element
  Overlay effect must be added to each of the .values li and .suits li
  Highlight effect for whenever a person is hovering over a card, suit, or value
  Animation for the cards flipping over
  Poker Background along with Poker Chips
  The Buttons are Poker Chips
*/
