<p>{{handStatement}}</p>
<div class="planner">
  <div class="container">

      <div class="row justify-content-center text-center">
        <div class="cards col-lg-8">
          <div class="row justify-content-center text-center">
            <div class="col-lg-12">
              <ul class="list-unstyled table-cards">
                <li class="d-inline">
                  <img (click)="clickFirstCard()" class="card1" src="{{firstCardSource}}">
                </li>
                <li class="d-inline">
                  <img (click)="clickSecondCard()" class="card2" src="{{secondCardSource}}">
                </li>
                <li class="d-inline">
                  <img (click)="clickThirdCard()" class="card3" src="{{thirdCardSource}}">
                </li>
                <li class="d-inline">
                  <img (click)="clickFourthCard()" class="card4" src="{{fourthCardSource}}">
                </li>
                <li class="d-inline">
                  <img (click)="clickFifthCard()" class="card5" src="{{fifthCardSource}}">
                </li>
              </ul>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-lg-12">
              <ul class="list-unstyled hand-cards">
                <li class="d-inline">
                  <img (click)="clickFirstHandCard()" class="card6" src="{{sixthCardSource}}">
                </li>
                <li class="d-inline">
                  <img (click)="clickSecondHandCard()" class="card7" src="{{seventhCardSource}}">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <ul class="list-unstyled suits">
            <li class="d-inline">
              <button [disabled]="suitDisabled" (click)="clickSuitSpade()" class="btn btn-light" type="button">
                <img src="assets/images/Suits/Spades.png">
              </button>
            </li>
            <li class="d-inline">
              <button [disabled]="suitDisabled" (click)="clickSuitDiamond()" class="btn btn-light" type="button">
                <img src="assets/images/Suits/Diamonds.png">
              </button>
            </li>
            <li class="d-inline">
              <button [disabled]="suitDisabled" (click)="clickSuitHeart()" class="btn btn-light" type="button">
                <img src="assets/images/Suits/Hearts.png">
              </button>
            </li>
            <li class="d-inline">
              <button [disabled]="suitDisabled" (click)="clickSuitClub()" class="btn btn-light" type="button">
                <img src="assets/images/Suits/Clubs.png">
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <ul class="list-unstyled values">
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(14, duplicates)" class="btn btn-light" type="button">A</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(2, duplicates)" class="btn btn-light" type="button">2</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(3, duplicates)" class="btn btn-light" type="button">3</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(4, duplicates)" class="btn btn-light" type="button">4</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(5, duplicates)" class="btn btn-light" type="button">5</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(6, duplicates)" class="btn btn-light" type="button">6</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(7, duplicates)" class="btn btn-light" type="button">7</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(8, duplicates)" class="btn btn-light" type="button">8</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(9, duplicates)" class="btn btn-light" type="button">9</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(10, duplicates)" class="btn btn-light" type="button">10</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(11, duplicates)" class="btn btn-light" type="button">J</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(12, duplicates)" class="btn btn-light" type="button">Q</button>
            </li>
            <li class="d-inline">
              <button [disabled]="valueDisabled" (click)="clickValue(13, duplicates)" class="btn btn-light" type="button">K</button>
            </li>
          </ul>
        </div>
      </div>

      <button [disabled]="checkCardsCompleted()" type="button" (click)="submit()">Find out what you have!</button>

  </div>
  <div class="row justify-content-center text-center">
    <div class="col-lg-8">
      <ul class="list-unstyled crud-buttons">
        <li class="d-inline">
          <app-save></app-save>
        </li>
        <li class="d-inline">
          <app-load></app-load>
        </li>
        <li class="d-inline">
          <app-delete></app-delete>
        </li>
        <li class="d-inline">
          <app-restart></app-restart>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #duplicates>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Duplicate Cards</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>You cannot have the same card twice!</p>
    <button type="button" (click)="modalRef.hide()">Got it!</button>
  </div>
</ng-template>