.planner {
  background-color: green;
}

.cards {
  background-color: yellow;
  padding-top: 10px;
  margin-bottom: 10px;
}

.table-cards {
  background-color: pink;
}

.table-cards img {
  width: 20%;
  padding: 10px;
}

.hand-cards {
  background-color: purple;
}

.hand-cards img {
  width: 20%;
  padding: 10px;
}

.suits {
  background-color: blue;
  padding: 10px;
  margin-bottom: 10px;
}

.suits li {
  padding: 10px;
}

.suits button {
  height: 3em;
  border-radius: 15%;
}

.suits img {
  width: 20%;
}

.values {
  background-color: red;
  padding: 10px;
}

.values li {
  padding: 5px;
}

.values button {
  width: 2.75em;
  border-radius: 15%;
}

.crud-buttons li {
  padding-top: 0;
  padding-bottom: 0;
  padding: 25px;
}

/*
  .values li will be a button that have a highlight and click element
  .suits li will be a button that have a highlight and click element
  Overlay effect must be added to each of the .values li and .suits li
  Highlight effect for whenever a person is hovering over a card, suit, or value
  Animation for the cards flipping over
  Poker Background along with Poker Chips
  The Buttons are Poker Chips
*/
