.planner {
  background-color: green;
}

.table-cards {
  background-color: pink;
}

.table-cards img {
  width: 20%;
}

.hand-cards {
  background-color: purple;
}

.hand-cards img {
  width: 20%;
}

.suits {
  background-color: blue;
}

.suits img {
  width: 20%;
}

.values {
  background-color: red;
}

/*
  .values li will be a button that have a highlight and click element
  .suits li will be a button that have a highlight and click element
  Overlay effect must be added to each of the .values li and .suits li
  Highlight effect for whenever a person is hovering over a card, suit, or value
  Animation for the cards flipping over
  Poker Background along with Poker Chips
  The Buttons are Poker Chips
*/
